.now-or-never-wrapper {
  position: relative;
}

.now-or-never-background {
  position: fixed;
  inset: 0;
  background-image: url('/now-or-never-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.now-or-never-content {
  position: relative;
  z-index: 1;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(86, 7, 110, 0.95);
}

.inputs-row {
  display: flex;
  gap: 150px; 
  justify-content: center;
}

.now-or-never-content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0 0 12px 0;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.now-or-never-content p {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 36px;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-solve {
  height: 60px;
  width: 180px;
  background-color: #2c2c3e;
  color: #f5f5f5;
  font-weight: 700;
  background-color:rgb(41, 20, 39);
  border: 2px solid rgb(247, 200, 255);
 
  font-size: 18px;
  padding: 10px 24px;
  border: 2px solid #d4c4ff;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;

  &:hover:not(:disabled) {
    background-color: #3a3a55;
    border-color: #c0aaff;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
